@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global height fix for Leaflet map */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Your font */
* {
  font-family: 'Outfit', sans-serif;
}

/* Active nav hr */
.active hr {
  @apply block;
}

/* Responsive styles */
@media (max-width: 740px) {
  .active p {
    @apply text-white bg-primary;
  }
}

/* Hide scrollbar */
::-webkit-scrollbar {
  @apply hidden;
<<<<<<< HEAD
}
=======
}
>>>>>>> d6ececb12d2c9a1beed2d4342117b300af72dbec
